/* google font start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* google font end */
body{
    background-color: #fff;
}
.container{
    background-color: #161616;
    width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 60px;
}
.banner-part{
    display: flex;
   
}
.banner-text{
    width: 50%;
    padding-left: 100px;
    padding-bottom: 25px;
}

.banner-text h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;

}
.banner-text p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}

.mybtn a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    text-decoration: none;
    background-color:#DD0000 ;
    border-radius: 5px;
    padding: 16px 25px;
}
.mybtn i{
    margin-left: 20px;
 
}
.player-images img{
    position: relative;
    width: 520px;
    height: 553px;
}
/* match list end */
.menu-list{
    width: 250px;
    height: 250px;
    background-color: #161616;
    position: absolute;
    border-radius: 10px;
     
    
}
.menu-text button{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
   
}
.menu-text button a{
    text-decoration: none;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    color: #161616;
}
.menu-text .a1{
    width: 220px;
}
.menu-text span button{
    background-color: #DD0000 !important;
}
.blog-part{
    width: 930px;
    background-color: #161616;
    position: absolute;
    border-radius: 10px;
    left: 345px;
}
.blog-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    
}
.gallery img{
  width: 100%;
}